header {
    height: 100vh;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}