header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.heading {
    position: relative;

    i {
        color: $headingColor;
        display: inline-block;
        opacity: 0.5;
        position: absolute;
        font-size: 2.5rem;
    }
    
    h2 {
        margin-bottom: 0px;
    }
    .fa-drum {
        top: 0px;
        animation: rotate-center 3s linear infinite both;
    }

    .fa-pizza-slice {
        right: 0px;
        animation: rotate-center 3s linear infinite both;
    }

    .fa-galactic-republic {
        right: 0px;
        top: 0px;
        animation: rotate-center 3s linear infinite both;
    }

    .fa-cat {
        left: 0px;
        animation: rotate-center 3s linear infinite both;
    }

}

.heading {
	// visibility: visible !important;

	animation: 	expandUp 1.5s ease-in-out 1 both,
				floating 1.2s ease-in 1.5s infinite;
}

@keyframes rotate-center {
    0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    }
    100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}	
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}	
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

.navMenu {
    top: 0;
    right: 0;
    width: 100%;
    position: fixed;
    z-index: 3000;

    .hamburger {
        opacity: 1;
        cursor: pointer;
        display: block;
        border: none;
        color: $headingColor;
        font-size: 2rem;
        position: absolute;
        right: 30px;
        top: 20px;
        padding: 5px;

    }


    .hamburger.active {
        color:white;
    }

    .menu {
        background-color: $headingColor;
        padding: 0;
        width: 0;
        display: none;

    }
    
    .menu.active {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }


    li {
        list-style-type: none;
        padding: 10px;
        position: relative;

        a {
            color: white;    
            text-decoration: none; 
        }

            a::before {
                content: '';
                position: absolute;
                background-color: white;
                height: 5px;
                width: 100%;
                border-radius: 4px;
                bottom: 0;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
            }

            a:hover::before,
            a:focus::before {
                transform-origin: left;
                transform: scaleX(1);
            }
        
    
    }
}


.downArrow {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 49%;
    color: $headingColor;
    font-size: 3rem;
    animation: floating 1.2s ease-in 1.5s infinite;

    a {
        color: #ff8e3c;
    }

    a:hover,
    a:focus {
        color: #fd6a01;
    }
    
}

