
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');


$headerFont: 'Rubik Puddles', sans-serif;
$subFont: 'Waiting for the Sunrise', sans-serif;
$paragraph: 'Quicksand', sans-serif;
$background:  #eff0f3;
$headingColor:  #ff8e3c;
$paragraphColor: #2a2a2a;
$subHeadingColor: #0d0d0d;

body {
    background-color: $background;
    font-size: 125%;
}


h1, h2 {
    font-family: $headerFont;
    color: $headingColor;
    letter-spacing: 5px;
    text-align: center;
	font-size: 5rem;
}

h3 {
	font-family: $subFont;
	color: $headingColor;
	font-size: 3rem;
	margin-top: 0;
}

p {
	font-family: $paragraph;
	color: $paragraphColor;
	font-weight: 500;

}

a {
	font-family: $subFont;
	font-size: 3rem;
}


