@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

$headerFont: 'Rubik Puddles', sans-serif;
$subFont: 'Waiting for the Sunrise', sans-serif;
$background:  #eff0f3;
$headingColor:  #ff8e3c;

body {
    background-color: $background;
    font-size: 125%;
}

header {
    height: 100vh;
}

h1, h2 {
    font-family: $headerFont;
    color: $headingColor;
    letter-spacing: 5px;
    text-align: center;
	font-size: 4rem;
}

.heading {
	// visibility: visible !important;

	animation: 	expandUp 1.5s ease-in-out 1 both,
				floating 1.2s ease-in 1.5s infinite;
}

@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}	
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}	
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

